<h3>Изменение пароля</h3>

<%= simple_form_for(current_user, url: change_password_path(),
                    html: { class: 'inputs_underline margin-tb-15px', method: :post }) do |f| %>

  <div class="form-inputs">
    <%= f.input :password, autocomplete: "off", label: 'Новый пароль', required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :current_password, label: 'Текущий пароль', required: true %>
  </div>

  <div class="form-actions">
    <%= button_tag 'Изменить пароль', class: 'button button_green button_long' %>
  </div>
<% end %>

<p><%= link_to "Общая информация", edit_user_registration_path %></p>
<p><%= link_to "Вернуться", :back %></p>
<p><%= link_to "Удалить мою учётную запись", registration_path(:user), data: { confirm: "Вы уверены?" }, method: :delete %></p>
