<h3 class='text-center'>Настройки аккаунта</h3>
<% if resource.with_provider? %>
  <p class='text-center'>Вы зарегистрированы с помощью

    <% if ['Google', 'Yandex'].exclude? resource.provider_name %>
      <%= link_to 'учётной записи', resource.uid, target: :blank %>
    <% else %>
      учётной записи
    <% end %>

  из <%= resource.provider_name %></p>
<% end %>

<%= simple_form_for(resource, validate: true, as: resource_name, url: registration_path(resource_name),
                    html: { class: 'inputs_underline margin-tb-15px', method: :put }) do |f| %>
  <div class="form-inputs">
    <%= f.input :crop_x, input_html: { value: '' }, as: :hidden %>
    <%= f.input :crop_y, input_html: { value: '' }, as: :hidden %>
    <%= f.input :crop_width, input_html: { value: '' }, as: :hidden %>
    <%= f.input :crop_height, input_html: { value: '' }, as: :hidden %>

    <div class='text-center'>
      <%= image_tag resource.avatar_reserve_url, size: '120x120', class: 'rounded margin-top-10px margin-bottom-10px' %>
    </div>
    <%= f.input :avatar, wrapper_html: { class: 'margin-bottom-25px' },
      input_html: {
        accept: 'image/x-png,image/gif,image/jpeg',
        class: 'hidden js-image_with_cropper',
        data: {
          'aspect-ratio': 1.0,
          'button-title': 'Новое изображение',
          'max-width':  500,
          'max-height':  500 }} %>

    <%= f.input :name,  required: true %>

    <% unless resource.with_provider? %>
      <%= f.input :email, required: true, validate: { format: true } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= button_tag 'Сохранить', class: 'button button_green button_long' %>
  </div>
<% end %>

<% unless resource.with_provider? %>
  <p><%= link_to "Изменить пароль", change_password_path %></p>
<% end %>
<p><%= link_to "Вернуться", :back %></p>
<p><%= link_to "Удалить мою учётную запись", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></p>
