<%= simple_form_for(resource, validate: true, as: resource_name, url: registration_path(resource_name),
                    html: { class: 'user_registrate inputs_underline margin-tb-15px' }) do |f| %>

  <div class="form-inputs">

    <h2>Регистрация</h2>
    <div class='form_logo_wrapper'>
      <div class='form_logo'></div>
    </div>

    <%= f.input :crop_x, input_html: { value: '' }, as: :hidden %>
    <%= f.input :crop_y, input_html: { value: '' }, as: :hidden %>
    <%= f.input :crop_width, input_html: { value: '' }, as: :hidden %>
    <%= f.input :crop_height, input_html: { value: '' }, as: :hidden %>

    <%= f.input :avatar, wrapper_html: { class: 'margin-bottom-25px' },
      input_html: {
        accept: 'image/x-png,image/gif,image/jpeg',
        class: 'hidden js-image_with_cropper',
        data: {
          'aspect-ratio': 1.0,
          'button-title': 'Загрузить изображение',
          'max-width':  500,
          'max-height':  500 }} %>

    <%= f.input :name,  required: true %>
    <%= f.input :email, required: true, validate: { format: true } %>
    <%= f.input :password, required: true, validate: { confirmation: true } %>
    <%= f.input :password_confirmation, required: false %>
  </div>
  <div class='help-links'>
    <%= link_to "Войти", new_session_path(resource_name) %><br />
  </div>

  <div class="form-actions with-back">
    <div class='back'></div>
    <%= button_tag 'Зарегистрироваться', class: 'button button_green button_long button_large_green', style: 'font-size:12px' %>
    <p class='text-center'>или</p>
    <div class='social_networks'>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
          <div class='<%= "social_icon #{provider}" %>'></div>
        <% end %>
      <% end -%>
    </div>
  </div>
<% end %>
