<h2>Изменение пароля</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
                    html: { class: 'inputs_underline margin-tb-15px', method: :put }) do |f| %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "Новый пароль", required: true, autofocus: true, hint: ("Минимум #{@minimum_password_length} символов" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: "Подтвердите пароль", required: true %>
  </div>

  <div class="form-actions">
    <%= button_tag 'Изменить пароль', class: 'button button_green button_long' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
