<h2>Забыли пароль?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name),
                    html: { class: 'inputs_underline margin-tb-15px', method: :post }) do |f| %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= button_tag 'Получить инструкции', class: 'button button_green button_long' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
