<div id='projects_list'>
  <div class='row'>

    <% @projects.each do |project| %>
      <div class='col-project_wrapper col-xs-6 col-sm-4 col-md-3 col-lg-3'>
        <div class='project_item <%= 'active' if @project.eql?(project) %>'>
          <%= link_to (@project.eql?(project) ? 'javascript:void(0)' : project_path(project)) do %>

            <div class='project_title'><p><%= project.title %></p></div>

            <div class='image_wrapper' style='background-image: url(<%= project.image(:medium) %>)'>
              <span class='complete_info'><%= "#{project.places.size}/#{project.total_places_count}" %></span>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
