<div class='download_project'>

  <div class='info'>
    <h4 class='text-center'>Скачать изображение проекта "<%= @project.title %>"</h4>

    <div class='text-center'>
      <%= image_tag @project.image.url(:small), class: 'margin-tb-15px' %>
    </div>

    <p class='lighter_border_top padding-top-15px'>
      Размеры проекта -
      <%= @project.places_in_x * @project.place_width %>px X <%= @project.places_in_y * @project.place_height %>px.
    </p>

    <p>
      Размеры каждой ячейки -
      <%= @project.place_width %>px X <%= @project.place_height %>px.
    </p>

    <p>
      Ячеек по горизонтали -
      <%= @project.places_in_x %>
    </p>

    <p>
      Ячеек по вертикали -
      <%= @project.places_in_y %>
    </p>

    <p>
      Завершено -
      <%= @project.places.size %> / <%= @project.total_places_count %> (завершённых ячеек / общее количество ячеек)
    </p>

    <% unless @project.download_count.zero? %>
      <p>
        Изображение скачано <%= I18n.t 'helpers.project.download_count',count: @project.download_count %>
      </p>
    <% end %>
  </div>

  <div class='form-actions text-center with-back'>
    <div class='back'></div>
    <%= link_to 'Скачать', @project.image.url,
      download: @project.slug,
      data: {
        url: download_counter_project_path(@project)
      },
      class: 'js-download_counter button button_green close_modals button_large_green button_long' %>
  </div>
</div>
