<div id='project_show'>
  <div id='title_and_description' class='container'>

    <div id='page_title'>
      <h1><%= @project.title %></h1>
    </div>

    <div class='margin-bottom-5px'>
      <span class='opacity_0_5'>Скачано <%= I18n.t 'helpers.project.download_count',count: @project.download_count %>.</span>
      <span class='complete_info opacity_0_5'>Завершено - <%= "#{@project.places.size}/#{@project.total_places_count}" %></span>
    </div>

    <%= link_to 'скачать', download_project_path(@project), remote: true, class: 'js-remote_modal button button_green' %>

    <div class='jssocials_project'
      data-url='<%= request.original_url %>'
      data-text='<%= "#@project - #{Settings.app.name}" %>'>
    </div>

    <div id='project_description'>
      <%= @project.description %>
    </div>
  </div>

  <div class='js-project_wrapper'>
    <%= @project.inflated_html.html_safe %>
  </div>

  <div class='container height-0'>
    <div class='jssocials_project pull-right'
      data-url='<%= request.original_url %>'
      data-text='<%= "#@project - #{Settings.app.name}" %>'>
    </div>
  </div>

  <div class='container' id='other_projects'>
    <h2>Все проекты</h2>
     <%= render partial: 'projects_navigation' %>
  </div>

</div>

<div class='hidden js-some-infos channel-places' data-project-slug='<%= @project.slug %>'></div>
