- breadcrumb :project, @project
.project
  .show
    %h1= @project.title
    %p= @project.description

    .project_wrapper
      = render partial: '/regions/table', locals: { :regions => @project.regions }
