<div class='user_authorize'>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'inputs_underline margin-tb-15px' }) do |f| %>
    <div class='inputs_and_links'>
      <div class="form-inputs">

        <h2>Авторизация</h2>
        <div class='form_logo_wrapper'>
          <div class='form_logo'></div>
        </div>

        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class='help-links'>
        <%= link_to "Зарегистрироваться", new_registration_path(resource_name) %>
        <%= link_to "Забыли пароль?", new_password_path(resource_name) %>
      </div>
    </div>

    <div class="form-actions with-back">
      <div class='back'></div>
      <%= button_tag 'Войти', class: 'button button_green button_large_green' %>
      <p class='text-center'>или</p>
      <div class='social_networks'>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider) do %>
            <div class='<%= "social_icon #{provider}" %>'></div>
          <% end %>
        <% end -%>
      </div>
    </div>
  <% end %>
</div>

