<div class='js-table' style='<%= "display:inline-block; background:url(#{project.image.url}); background-repeat:no-repeat; height:#{project.height}px;" %>'>
  <% project.places_in_y.times do |y| %>
    <div class='row_project' style='display:flex'>
      <% project.places_in_x.times do |x| %>
        <div class='column_project' style='display:inline-block'>
          <%= link_to '', new_project_place_path(project, x: x, y: y), remote: true, class: 'ajax-modal1_load',
          style: "display:block; height:#{project.place_height}px;width:#{project.place_width}px" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
