<div id='edit_project_page'>
  <h2>Редактирование проекта <%= @project.title %></h2>
  <%= simple_form_for [:manage, @project], html: { class: 'inputs_underline' } do |f| %>
    <div class='row'>
      <div class='col-xs-4'>
        <%= f.input :title %>
      </div>
    </div>
    <%= f.input :description, input_html: { rows: 6 } %>
    <%= image_tag @project.image(:small) %>
    <div class='inline-block vertical-top'>
      <%= button_tag 'Сохранить', data: { disable_with: 'Сохраняется' }, class: 'button button_green' %>
      <%= link_to 'отмена', manage_projects_path, class: 'button button_red' %>
    </div>
  <% end %>
</div>
