<div class='projects_manage'>
  <h1 class='inline-block'>ПРОЕКТЫ</h1>

  <div class='projects_list'>
    <% @projects.each do |project| %>
      <div class='manage_project inline-block'>

        <div class='title'>
          <p><%= link_to project.title, project_path(project) %></p>

          <div class='manage_icons'>
            <%= link_to edit_manage_project_path(project) do %>
              <span class='glyphicon glyphicon-pencil'></span>
            <% end %>
            <%= link_to manage_project_path(project), method: :delete, data: { confirm: 'Ведаешь что творишь?' } do %>
              <span class='glyphicon glyphicon-trash'></span>
            <% end %>
          </div>
        </div>

        <%= link_to manage_project_path(project) do %>
          <%= image_tag project.image(:small) %>
        <% end %>
        <div class='complete_info'><%= "#{project.places.size}/#{project.total_places_count}" %></div>

      </div>
    <% end %>
  </div>
  <%= link_to 'новый проект', new_manage_project_path, class: 'button button_green' %>
</div>
