<div id='new_project_page'>
  <h2>Новый проект</h2>
  <%= simple_form_for [:manage, @project], html: { class: 'inputs_underline' } do |f| %>

    <%= f.input :width, as: :hidden %>
    <%= f.input :height, as: :hidden %>

    <div class='row'>
      <div class='col-md-4 no_padding_right'>
        <%= f.input :title %>
      </div>

      <div class='col-md-2 no_padding_right'>
        <%= f.input :place_width, input_html: { value: 25 } %>
      </div>

      <div class='col-md-2 no_padding_right'>
        <%= f.input :place_height, input_html: { value: 20 }  %>
      </div>

      <div class='col-md-3 no_padding_right' style='margin-top:24px'>
        <%= link_to 'Применить размеры', 'javascript:void(0)', class: 'button button_blue button_long js-place_size_apply' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-8 no_padding_right'>
        <%= f.input :description, input_html: { rows: 6 } %>
      </div>
    </div>

    <%= f.input :image, label: false, input_html: {
      class: 'js-project_preview_with_net',
      data: {
        'max-width':  Project.max_width,
        'max-height': Project.max_height }} %>

    <%= button_tag 'Создать', data: { disable_with: 'Создаётся' }, class: 'button button_green' %>
    <%= link_to 'отмена', manage_projects_path, class: 'button button_red' %>
  <% end %>
</div>
