<div id='project_show'>
  <div id='title_and_description'>

    <div id='page_title'>
      <h1><%= @project.title %></h1>
      <span class='complete_info opacity_0_5'><%= "#{@project.places.size}/#{@project.total_places_count}" %></span>
      <span class='opacity_0_5'>Скачано <%= I18n.t 'helpers.project.download_count',count: @project.download_count %>.</span>
    </div>

    <%= image_tag @project.image.url(:medium) %>

    <div id='project_description'>
      <%= @project.description %>
    </div>

  </div>
</div>
