@media all and (max-width: 991px)
  #project_show #projects_list .project_item .image_wrapper
    height: 130px

@media all and (max-width: 700px)
  #project_show #projects_list .project_item .image_wrapper
    height: 160px

  #project_show
    #page_title h1
      margin-top: 40px

  #header_menu
    bottom: -4px !important

    .child-list
      width: 150px

      a
        font-size: 12px !important

  #footer .container .right-col
    text-align: left

  #footer .container .right-col .footer_info
    height: 45px

@media all and (max-width: 600px)
  #project_show #projects_list .project_item .image_wrapper
    height: 130px

  #header #logotype
    left: 20px
    height: 70px
    width: 240px
    background-size: contain
    background-repeat: no-repeat

  #header #users_info #users_avatar img
    width: 50px
    height: 50px

  #header #users_info #users_email
    float: none

  #header #top_menu, #header #header_menu, #header #users_info
    right: 20px

@media all and (max-width: 500px)
  #project_show #projects_list .project_item .image_wrapper
    height: 110px

  .modal-dialog
    padding: 0 4px

  .modal form .inputs_and_links
    margin: 20px 15px 40px

  .modal .place_show h2
    font-size: 18px

  .user_authorize h2, .user_registrate h2
    margin-top: 40px

@media all and (max-width: 400px)
  #project_show #projects_list .col-project_wrapper
    width: 100%

  #project_show #projects_list .project_item .image_wrapper
    height: 170px

  #header #users_info #users_email
    display: none

  #manage_namespace #project_show img
    width: 100%

@media all and (max-width: 350px)
  #header #logotype
    bottom: 45px
