@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap-slider"
@import "places"
@import "regions"
@import "projects"
@import "manage/application"

.body
  background-color: white
  div
    margin: 0px
    padding: 0px
.main_wrapper
  padding: 6px
