@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap-slider"
@import "places"
@import "regions"
@import "projects"
@import "manage/application"
@import "great_menu"

.body
  background-color: white
  div
    margin: 0px
    padding: 0px

.main_wrapper
  padding: 6px

.header_wrapper
  .actions
    text-align: right

  .categories_menu
    text-align: left
    width: 100%
