@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap-slider"
@import "places"
@import "regions"
@import "projects"
@import "tipsy"
@import "manage/application"
@import "great_menu"

.body
  background-color: white
  div
    margin: 0px
    padding: 0px

.main_wrapper
  padding: 6px
  min-height: 800px

.header_wrapper
  background-color: cornsilk
  .main_logo
    height: 50px

  .actions
    text-align: right
    margin-right: 25px

  .categories_menu
    text-align: center
