body
  font-family: 'Arial'
  font-size: 12px

.no_padding_right
  padding-right: 0px !important

a
  color: #2c2d79

  &:hover, &:focus
    color: #9fa7af

h1
  font-size: 50px
  text-transform: uppercase
  margin: 20px 0px 5px 0px

h2
  font-size: 35px
  text-transform: uppercase
  margin: 15px 0 5px 0

p
  opacity: 0.8

.disabled_element
  pointer-events: none
  cursor: not-allowed
  opacity: 0.5

.table_cell
  display: table-cell

.padding-lr-15px
  padding-left: 15px
  padding-right: 15px

.padding-top-15px
  padding-top: 15px

.padding-top-40px
  padding-top: 40px

.margin-top-10px
  margin-top: 10px

.margin-bottom-10px
  margin-bottom: 10px

.margin-bottom-5px
  margin-bottom: 5px

.margin-bottom-25px
  margin-bottom: 25px

.margin-top-25px
  margin-top: 25px

.rounded
  border-radius: 50%

.margin-15-lr
  margin-left: 15px
  margin-right: 15px

.margin-tb-15px
  margin-top: 15px
  margin-bottom: 15px

.vertical-top
  vertical-align: top

.lighter_border_top
  border-top: 2px solid #f5f5f5

.my_container
  padding: 0 10px
  overflow: hidden

.border_bottom
  border-bottom: 3px solid #c70000

.border_top
  border-top: 3px solid #c70000

.inline-block
  display: inline-block

.bootcenter
  margin: 0 auto
  float: none

.text-center
  text-align: center

.text-right
  text-align: right

ul
  list-style-type: none

.has-error .control-label
  color: inherit

a:hover, a:active, a:focus
  text-decoration: none

.opacity_0_5
  opacity: 0.5

.opacity_0_8
  opacity: 0.8

// далее - прекрасные кнопочки
// button button_[green|blue|red] [button_long]

.button
  display: inline-block
  position: relative
  font-size: 14px
  transition: all 0.4s
  text-transform: uppercase
  color: #3d3b3b
  padding: 1px 10px
  background: none
  border: none
  overflow: hidden
  z-index: 3

  &:before
    position: absolute
    top: -50px
    left: -50px
    display: inline-block
    border-width: 0px
    border-style: solid
    border-radius: 50%
    transition: all 0.2s
    z-index: -10
    content: ''
    opacity: 0.8

  &:focus
    outline: none
    color: inherit

  &:hover, &:active
    color: white

    &:before
      border-width: 100px

.button.button_large_green
  font-size: 14px
  background: #6fb96f
  color: white
  padding: 9px 40px

.button.button_long
  &:hover, &:active
    &:before
      border-width: 160px

.button.button_green
  border-left: 3px solid #337333

  &:hover, &:focus, &:active
    &:before
      border-color: #337333

.button.button_blue
  border-left: 3px solid #2b2a54

  &:hover, &:focus, &:active
    &:before
      border-color: #2b2a54

.button.button_red
  border-left: 3px solid #c70000

  &:hover, &:focus, &:active
    &:before
      border-color: #c70000

// прекрасные кнопочки end

form.inputs_underline
  input, textarea
    transition: all 0.2s
    border: none
    border-bottom: 2px solid #bad6be
    border-radius: 0
    box-shadow: none !important
    padding: 0

    &:focus
      box-shadow: none
      padding-left: 10px
      border-color: #96af99

  textarea
    background: #f9f9f9

#modal1
  padding-right: 0px !important

  .modal-dialog
    margin: 60px auto

    .modal-content
      border-radius: 3px

      & > div
        position: relative
        & > h3
          color: white
          position: absolute
          margin: 0
          top: -35px
          left: 0px
          opacity: 0.9

.modal-open
  overflow: visible
  padding-right: 0px !important

  .modal::-webkit-scrollbar
    display: none

#modal2
  .modal-dialog
    margin: 100px auto

  .modal-content
    background: none
    box-shadow: none
    border: none

.action_block
  background: #f9f9f9
  padding: 15px
  text-align: right

.relatived_wrapper
  position: relative

.height-0
  height: 0

.alert
  position: fixed
  top: 5px
  left: 0
  right: 0
  margin: 0 auto
  width: 400px
  text-align: center
  border-radius: 1px
  z-index: 200
  background: white
  border: none
  box-shadow: 0px 0px 3px #888
