#menu a { color: #eee; }
#menu a:hover { color: white; }

.categories_menu {
	margin: 0px auto;
	background-color: #202020
}

/* Clearfix */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */



#menu {
	margin: 0px auto;
	list-style: none;
	position: relative;
  padding: 0;
  width: 100%;
}
#menu li {
	display: inline-block;
}
#menu li a {
	position: relative;
	z-index: 200;
	color: #bbb;
	font-size: 15px;
	display: block;
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
}
#menu li a:hover {
	color: white;
}
#menu #magic-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	z-index: 100;
}
.current_page_item a {
	color: white !important;
}
.ie6 #menu li, .ie7 #menu li {
	display: inline;
}
