#header
  position: relative
  height: 170px

  .back_head
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 170px
    background-image: url('back_head.png')
    opacity: 0.6
    z-index: -10

  .back_head + .dark_layer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 170px
    background-color: black
    z-index: -11

  #logotype
    position: absolute
    bottom: 5px
    left: 30px
    height: 98px
    width: 331px
    background-image: url('logotype.png')

  #header_menu
    z-index: 100
    position: absolute
    height: 0px
    bottom: -3px
    right: 30px

  #top_menu
    position: absolute
    right: 30px
    top: 5px
    opacity: 0.95
    font-size: 12px
    text-transform: uppercase

    a
      color: white
      margin-left: 10px

      &:hover
        opacity: 0.8

      i.fa
        margin-right: 3px

  #users_info
    font-size: 16px
    color: white
    position: absolute
    bottom: 5px
    right: 30px

    #users_email
      float: right
      margin-top: 50px

    #users_avatar
      float: right

      img
        border-radius: 50%

#footer
  position: relative
  visibility: hidden
  margin-top: 40px

  .back_footer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url('back_head.png')
    opacity: 0.5
    z-index: -10

  .back_footer + .dark_layer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: black
    z-index: -11

  .container
    .left-col
      .jssocials_site
        display: table-cell
        height: 60px
        vertical-align: middle

        .jssocials-share-link
          border-radius: 50%

    .right-col
      text-align: -webkit-right

      .footer_info
        display: table-cell
        height: 60px
        vertical-align: middle
        font-size: 16px
        color: white

        p
          margin: 0

        a
          color: white

          &:hover
            opacity: 0.5

#content
  background: white
