#manage_namespace
  .projects_manage
    .projects_list
      margin: 20px 0

      .manage_project
        margin-bottom: 10px
        margin-right: 10px

        .title
          position: relative

          p
            margin: 0
            max-width: 123px

          .manage_icons
            position: absolute
            bottom: 0
            right: 0
            font-size: 16px

  #new_project_page, #edit_project_page
    form
      margin-bottom: 30px
      margin-top: 30px

      .button
        vertical-align: middle

  #edit_project_page
    form img
      margin-right: 10px

  #manage_header
    padding: 10px 0
    font-size: 20px
    border-bottom: 3px solid #f5f5f5
