#header_menu nav {
  visibility: hidden;
  background: white;
  box-shadow: 0 2px 0 0 #ECF1F2;
  border-top: 1px solid #ECF1F2;
  text-align: center;
}
#header_menu nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
#header_menu nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header_menu .nested_menu > li {
  display: inline-block;
  position: relative;
  margin-right: -4px;
  border-left: 1px solid #ECF1F2;
}
#header_menu .nested_menu > li:last-child {border-right: 1px solid #ECF1F2;}
#header_menu .nested_menu > li > a {
  padding: 10px 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #1c1c1c;
}

#header_menu .nested_menu span + span {
  float: right
}

#header_menu .nested_menu .active:after, #header_menu .child-list-link:not(.no-after):after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
#header_menu .nested_menu .active, #header_menu .nested_menu > li > a:hover, #header_menu .child-list li a:hover {color: #c70000;}
#header_menu .child-list {
  position: absolute;
  right: 0;
  z-index: 5;
  width: 210px;
  border-bottom: 1px solid #ECF1F2;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: .3s ease-in-out;
}
#header_menu .child-list li {position: relative;}
#header_menu .child-list a {
  background: white;
  border-top: 1px solid #ECF1F2;
  border-right: 1px solid #ECF1F2;
  border-left: 1px solid #ECF1F2;
  color: #1c1c1c;
  text-align: left;
  font-size: 12px;
  padding: 10px 20px;
}
#header_menu .child-list .child-list {
  position: absolute;
  top: 0;
  left: calc(-100% + 1px);
  left: -webkit-calc(-100% + 1px);
}
#header_menu nav li:hover > .child-list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
