// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.places
  table
    border-collapse: collapse
    border: 0px
    td
      border: 0px
      margin: 0px
      padding: 0px

      img
        vertical-align: top
.place
  .new, .edit
    .place_image_input_wrapper
      display: none

    .place_image_button
      display: block

  .new
    .place_image_edit_wrapper
      display: none

  .js-place_image_upload
    display: block
    max-width:  1000px
    max-height: 500px

.crop_preview_wrapper
  display: inline
  overflow: hidden
  position: absolute

.crop_edit, .color_edit
  .place_image_edit_wrapper, .svg_wrapper
    display: inline-block
    max-width:  1000px
    max-height: 500px
    overflow: scroll


