#place_new_modal
  button.load_image
    margin: 14px 0 0 15px
    font-size: 16px

  .form-group.minicolors_wrapper
    position: relative
    vertical-align: baseline

    .minicolors-theme-bootstrap .minicolors-swatch-color,
    .minicolors-theme-bootstrap .minicolors-swatch
      border-radius: 0

  .preview_wrapper
    background: #f5f5f5

  .mini_previews_wrapper
    margin: 15px 15px 0 15px
    text-align: center

    .glyphicon.delimiter
      font-size: 16px

    .cropp_mini_preview
      background: #f9f9f9

  .has-error
    span.help-block
      margin-left: 5px
      font-size: 14px
      font-weight: bold
      text-transform: uppercase
      display: inline-block
      margin-bottom: 0

    label.control-label
      color: inherit

    .form-control
      border-color: #bad6be

  .action_block
    border-radius: 0 0 3px 3px

    .button
      vertical-align: middle

.place_show
  .table
    td
      border-top: none
      padding: 0

    td:not(.image)
      background: white
      padding: 5px

    td.image
      padding: 0 10px 10px 0

    td.image.no_description
      padding-bottom: 0

    td.content
      padding-bottom: 40px

    td.title
      position: relative
      vertical-align: bottom
      padding-top: 50px

      h2
        margin-top: 0

      p
        margin-bottom: 0

      .border_bottom
        position: absolute
        bottom: 0
        left: 0
        width: 100%

    .navigation
      position: absolute
      top: 5px
      right: 5px

      .nav-places
        display: inline-block
        position: relative
        height: 40px
        width: 40px
        text-align: center

        & > .glyphicon
          z-index: 10
          display: table-cell
          vertical-align: middle
          height: 40px
          width: 40px
          color: white
          font-size: 20px
          font-weight: bold

        & > .back_layer
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          border-radius: 50%
          background: url('back_head.png')
          z-index: 2
          opacity: 1

        & > .dark_layer
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          border-radius: 50%
          background: black
          z-index: 1
          display: none

        &:hover
          cursor: pointer

        &:hover > .back_layer
          opacity: 0.6

        &:hover > .dark_layer
          display: block

.loading_div
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: url(/assets/loading.gif)
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  visibility: visible
  z-index: 1111
