.project_preview_on_index
  width:  200px

.project .show
  text-align: center
  margin: 0 auto

  .regions
    display: inline-block

.info_project
  text-align: right
  padding-left: 15px

  .title
    h3
      display: inline-block
      font-size: 30px
      margin: 0 0 10px 0
    a
      margin-left: 5px
      font-size: 24px

  .statistics
    display: inline-block


.my_places_project
  text-align: left
  padding-right: 15px

  div
    margin-bottom: 10px
  p
    margin-bottom: 0px

.projects

  width: 892px
  margin: 0 auto

  .project
    display: inline-block
    text-align: left
    margin: 0px 0px
    padding: 6px 10px

    span.glyphicon.glyphicon-ok
      color: #66b03b
      margin-left: 5px

    .info
      .top
        div
          display: inline-block
          float: left
        .title
          a
            color: #5f5c5c
            font-weight: bold

      .bottom
        font-size: small
        color: #80807f

        div
          display: inline-block
          float: right

        .my_places
          background-color: #f1f1f1
          padding: 0px 6px

        .statistics
          padding: 0px 6px
          color: #685555

        .download
          margin: 1px 0 0 5px
          a
            color: #2c8028


