#project_show
  #page_title
    & > *
      display: inline-block
      margin-right: 5px

  #project_description
    max-width: 85%
    margin: 20px 0
    font-size: 16px
    opacity: 0.8

  .js-project_wrapper
    overflow: hidden

    .js-table
      visibility: hidden
      height: 1000px

      .column_project:hover
        background: aqua
        opacity: 0.5

  #other_projects
    padding-top: 20px
    padding-bottom: 20px

  #projects_list
    .col-project_wrapper
      margin-bottom: 10px

    .project_item
      //padding: 20px 20px 20px 0px

      .project_title
        font-size: 16px
        padding: 2px 2px 1px 6px
        color: #333333

        p
          max-width: 150px
          margin: 0

      .image_wrapper
        position: relative
        background-size: cover
        height: 130px

        .complete_info
          position: absolute
          display: -moz-box
          bottom: 0
          width: 100%
          padding: 2px 5px
          background: black
          color: white
          text-align: right
          opacity: 0.8

    .project_item:not(.active)
      transition: all 0.1s
      &:hover, &:active, &:focus
        transform: translateY(-2px)

    .project_item.active
      .image_wrapper
        opacity: 0.8

      *
        cursor: default

      .project_title
        background: #337333
        opacity: 0.8
        color: white

#modal1
  .download_project
    .info
      padding: 10px 80px
