.project_preview_on_index
  width:  300px

.projects

  .project
    display: inline-block
    text-align: left
    margin: 0px 0px
    padding: 6px 0px

    .info

      .top

        div
          display: inline-block
          float: left

        a
          color: #5b5c95
          margin: 0px 10px

        .title
          background-color: #ededed

        .download
          background-color: #88b632

          a
            margin: 0px
          img
            vertical-align: middle
            margin-top: -3px

      .bottom

        font-size: small
        color: #0f0e0c

        div
          display: inline-block
          float: right

        .my_places
          background-color: #e3e3e3
          padding: 0px 6px

        .statistics
          background-color: #ccc8d7
          padding: 0px 6px


