.reviews_index
  .review
    min-height: 60px
    padding: 20px 0

    .image
      height: 0

    .info
      margin-left: 60px

    .top
      .user_name
        font-weight: bold

      .time
        font-size: 10px
        opacity: 0.6
        margin-left: 5px

  .more_reviews
    text-align: -webkit-center
    box-shadow: 0 0 4px #aaa
    margin-top: 20px
    cursor: pointer
    opacity: 0.9

    &:hover
      opacity: 1

    .table_cell
      height: 50px
      vertical-align: middle

      span
        font-weight: bold
