form .inputs_and_links
  margin: 0 0 30px 0

.modal
  form
    margin-bottom: 0

    .inputs_and_links
      margin: 20px 20% 40px

.social_networks
  height: 45px

  .social_icon
    height: 45px
    width: 45px
    display: inline-block
    background-size: contain
    opacity: 0.9

    &:hover
      opacity: 1

.social_icon.vkontakte
  background-image: url(icons/vk.png)

.social_icon.facebook
  background-image: url(icons/facebook.png)

.social_icon.twitter
  background-image: url(icons/twitter.png)

.social_icon.google_oauth2
  background-image: url(icons/google-plus.png)

.social_icon.yandex
  background-image: url(icons/yandex.png)
  background-color: white
  background-size: initial
  background-repeat: no-repeat
  background-position: center
  border-radius: 50%

.social_networks
  text-align: center

.user_authorize, .user_registrate
  h2
    text-align: center

  .help-links
    margin-top: -5px
    margin-bottom: 15px

  .form-actions
    text-align: center

    p
      margin-top: 10px

.user_authorize, .user_registrate
  .form_logo_wrapper
    text-align: center
    margin-top: 30px
    margin-bottom: 15px

    .form_logo
      height: 50px
      width: 50px
      display: inline-block
      background-image: url(icons/logo_medium.png)
      background-size: contain

.user_registrate
  .help-links
    margin-bottom: 30px

.form-actions.with-back
  position: relative
  padding: 30px
  z-index: 1

  .back
    z-index: -1
    position: absolute
    width: 100%
    height: 100%
    background-image: url(back_head.png)
    opacity: 0.2
    top: 0
    left: 0
