<p>Здравствуйте, <%= @resource.email %>!</p>
<p>Вы запросили инструкции по изменению пароля на сайте IComposite. Изменить пароль вы можете перейдя по ссылке ниже:</p>
<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Если вы не запрашивали инструкции, то, пожалуйста, проигнорируйте это письмо.</p>
