<div id='footer' class='border_top'>
  <div class='container'>
    <div class='row'>

      <div class='col-sm-6 left-col'>
        <div class='jssocials_site'
          data-url='<%= Settings.app.host %>'
          data-text='<%= I18n.t('app.jssocials_description') %>'>
        </div>
      </div>

      <div class='col-sm-6 right-col'>
        <div class='footer_info'>
          <p>
            <%= link_to Settings.app.link_text, root_path %> |
            <%= link_to 'Обратная связь', reviews_path %> |
            2017
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class='back_footer'></div>
  <div class='dark_layer'></div>
</div>
