<div id='header' class='border_bottom'>
  <div class='back_head'></div>
  <div class='dark_layer'></div>

  <%= link_to root_path do %>
    <div id='logotype'></div>
  <% end %>

  <% if user_signed_in? %>
    <div id='users_info'>
      <div id='users_avatar'>
        <%= image_tag current_user.avatar.url(:medium), size: '70x70' %>
      </div>
      <div id='users_email' class='opacity_0_8'>
        <%= current_user.name %>
      </div>
    </div>
  <% end %>

  <div id='top_menu'>
    <%= link_to root_path do %>
      Главная страница
    <% end %>
    <%= link_to reviews_path do %>
      Обратная связь
    <% end %>
  </div>

  <div id='header_menu'>
    <%= render partial: 'application/menu' %>
  </div>
</div>
