<nav class='large'>
  <ul class='nested_menu true_menu'>
    <% if user_signed_in? %>

      <% if @project&.persisted? && can?(:edit, Project) %>
        <li>
          <a class='child-list-link' href='javascript:void(0)'>Управление проектом</a>

          <ul class='child-list'>

            <li>
              <%= link_to 'В админке', manage_project_path(@project) %>
            </li>

            <li>
              <%= link_to 'В публичке', project_path(@project) %>
            </li>

            <li>
              <%= link_to edit_manage_project_path(@project) do %>
                <span>Редактировать</span>
                <span class='glyphicon glyphicon-pencil'></span>
              <% end %>
            </li>

            <li>
              <%= link_to manage_project_path(@project), method: :delete, data: { confirm: 'Ведаешь что творишь?' } do %>
                <span>Удалить</span>
                <span class='glyphicon glyphicon-trash'></span>
              <% end %>
            </li>

          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li>
          <%= link_to 'Админка', manage_root_path %>
        </li>
      <% end %>

      <li>
        <%= link_to 'Аккаунт', edit_user_registration_path %>
      </li>

      <li>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      </li>

    <% else %>
      <li>
        <%= link_to 'Войти', new_user_session_path, remote: true, class: 'js-remote_modal' %>
      </li>

      <li>
        <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</nav>
