<% reviews.reverse.each do |review| %>
  <div class='review'>
    <div class='image'>
      <%= image_tag review.user.avatar.url(:small), size: '50x50', class: 'rounded' %>
    </div>
    <div class='info'>

      <div class='top'>
        <span class='user_name'><%= review.user.name %></span>
        <span class='time'><%= distance_of_time_in_words(review.created_at, DateTime.current) %> назад</span>
      </div>

      <p class='text'>
        <%= review.text %>
      </p>

    </div>
  </div>
<% end %>


