<div class='reviews_index'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8'>
        <h2 class='text-center padding-top-15px'>Отзывы и предложения</h2>

        <% if @reviews.total_count > Review.per_page %>
          <div data-total-count=<%= @reviews.total_count %> data-next-page='2' class='js-load_more_reviews more_reviews'>
            <div class='table_cell'>
              <span>Загрузить ещё</span>
            </div>
          </div>
        <% end %>

        <div class='reviews'>
          <%= render partial: 'reviews_page', locals: { reviews: @reviews } %>
        </div>

        <h3>Оставить отзыв или предложение</h3>

        <%= simple_form_for @review, html: { class: 'inputs_underline' } do |f| %>
          <%= f.input :text, label: false, input_html: { rows: 6 } %>

          <% if can?(:create, Review) %>
            <%= button_tag 'Сохранить', class: 'button button_green' %>
          <% else %>

            <%= link_to 'Сохранить', 'javascript:void(0)', class: 'button button_green disabled_element' %>
            <p>
              Оставлять сообщения могут только авторизованные пользователи.
              <%= link_to 'Войти', new_user_session_path %>
              <%= link_to 'Зарегистрироваться', new_user_registration_path %>
            </p>

          <% end %>
        <% end %>

        <h2 class='padding-top-40px lighter_border_top text-center margin-top-25px'>Контакты</h2>
        <div class='contacts'>
          <div class='back'></div>
          <p>Группы в соц. сетях.</p>
          <div class='groups'>
            <div class='social_networks'>
              <%- Settings.social_groups.each do |network, url| %>
                <%= link_to url do %>
                  <div class='<%= "social_icon #{network}" %>'></div>
                <% end %>
              <% end -%>
            </div>
          </div>

          <p>Email</p>
          <div class='email text-center'>
            <h3><%= mail_to Settings.app.reviews_email %></h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
