- if place.comment.present? && place.link.present?
  = link_to place.comment, place.link, target: '_blank'
- elsif place.comment.present?
  = place.comment
- elsif place.link.present?
  = link_to place.link, place.link, target: '_blank'

