.place
  .color_edit
    = simple_form_for [@region.project, @region, @place] do |f|
      .image_edit_wrapper
        = image_tag @place.image.url, class: 'place_image'
        %canvas{ :class => 'canvas'}

      = f.submit
