<div id='place_new_modal'>
  <h3>Новая ячейка</h3>
  <%= simple_form_for [@project, @place], html: { class: 'inputs_underline' } do |f| %>
    <%= f.input :x, as: :hidden %>
    <%= f.input :y, as: :hidden  %>
    <%= f.input :crop_x, as: :hidden %>
    <%= f.input :crop_y, as: :hidden  %>
    <%= f.input :crop_width, as: :hidden  %>
    <%= f.input :crop_height, as: :hidden  %>
    <%= f.input :r_component, as: :hidden, input_html: { value: 255 } %>
    <%= f.input :g_component, as: :hidden, input_html: { value: 255 }  %>
    <%= f.input :b_component, as: :hidden, input_html: { value: 255 }  %>
    <%= f.input :a_component, as: :hidden, input_html: { value: 1 }  %>

    <%= f.input :image, label: false, input_html: {
      class: 'js-place_preview',
      data: {
        'aspect-ratio': @project.place_width * 1.0 / @project.place_height,
        'mini-preview-width': @project.place_width * 4,
        'mini-preview-height': @project.place_height * 4,
        'max-width':  500,
        'max-height':  500 }} %>

    <div class='glyphicon glyphicon-triangle-right delimiter'></div>
    <%= image_tag @original_place.image.url, class: 'original_place' %>

    <div class='form-group minicolors_wrapper margin-15-lr'>
      <label for='minicolors_input'>Выбрать цвет</label>
      <input type='hidden' id='minicolors_input' class='form-control'>
    </div>

    <%= f.input :title, error: false, wrapper_html: { class: 'margin-15-lr' } %>
    <%= f.input :description, input_html: { rows: 6 }, wrapper_html: { class: 'margin-15-lr' } %>
    <div class='form-actions with-back action_block'>
      <div class='back'></div>

      <% if f.error(:title).present? %>
        <div class='has-error margin-bottom-10px'>
          <%= f.error :title %>
        </div>
      <% end %>

      <%= link_to 'Сохранить', 'javascript:void(0)', class: 'button button_green ajax-submit_modal_form' %>
      <%= link_to 'отмена', 'javascript:void(0)', class: 'button button_red close_modals' %>
    </div>
  <% end %>
</div>
