<div class='place_show'>
  <table class='table'>
    <tr>
      <td class='image <%= 'no_description' unless @place.description.present? %>' style='width:10px'>
        <%= image_tag @place.image_url %>
      </td>
      <td class='title'>
        <div>
          <p class='opacity_0_5'><%= "#{@place.x}x#{@place.y}" %></p>
          <h2><%= @place.title %></h2>
        </div>
        <div class='navigation'
          data-id=<%= @place.id %>
          data-x=<%= @place.x %>
          data-y=<%= @place.y %>
          data-project-slug=<%= @place.project_slug %>>
            <div class='nav-places nav-prev'>
              <div class='back_layer' style='background-position-x: <%= rand 1000 %>px'></div>
              <div class='dark_layer'></div>
              <div class='glyphicon glyphicon-menu-left'></div>
            </div>
            <div class='nav-places nav-next'>
              <div class='back_layer' style='background-position-x: <%= rand 1000 %>px'></div>
              <div class='dark_layer'></div>
              <div class='glyphicon glyphicon-menu-right'></div>
            </div>
        </div>
        <div class='border_bottom'></div>
      </td>
    </tr>
    <% if @place.description.present? %>
      <tr>
        <td class='content' colspan='2'>
          <div>
            <%= @place.description.html_safe %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

