<!DOCTYPE html>
<html>
  <head>
    <title><%= title_text %></title>
    <%= csrf_meta_tags %>

    <%= og_properties_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: '/application/header' %>
    <div id='content'>

      <%= yield :specific_layout %>

    </div>
    <%= render partial: '/application/footer' %>
    <div id="modal_holder"></div>
  </body>
</html>
