<% content_for :specific_layout do %>

  <div class='container'>
    <%= render partial: 'alerts' %>

    <div class='row'>
      <div class='col-sm-5 bootcenter'>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render partial: 'layouts/common_layout' %>
