<!DOCTYPE html>
<html>
  <head>
    <title><%= title_text %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id='manage_namespace'>
    <%= render partial: '/application/header' %>
    <div id='content'>
      <div class='container'>
        <%= render partial: '/application/manage_header' %>
        <%= yield %>
      </div>
    </div>
    <%= render partial: '/application/footer' %>
  </body>
</html>
